<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>

<body>

    <div class="bg-[#171719] w-full h-screen pt-[50px]">

        <form action="/edit" method="post" class="flex justify-center flex-col items-center">
            <input type="text" name="previousesfile" id="" class="w-[90%] h-[40px] bg-[#262629] m-auto mb-3 rounded-lg px-3 text-white opacity-[0.3]" placeholder="File name" value="<%= previous%>">
            <input type="text" name="previousename" id="" class="w-[90%] h-[40px] bg-[#262629] rounded-lg px-3 text-white" placeholder="New name">

            <div><button class="w-[100px] h-[40px] bg-[#18A9EA] rounded-lg mt-[20px] text-white">Edite Here</button></div>
        </form>
     
    </div>


    

    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>